/* variables */
$lavanda: rgb(152, 143, 156);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 1fr;
  height: 100vh;
  .image-gallery {
    display: grid;
    grid-template-rows: 80% 20%;
    grid-template-columns: 100%;
    .title {
      display: none;
    }
    .large-image {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      img.lying {
        width: 750px;
        height: 563px;
      }
      img.standing {
        height: 600px;
      }
      i {
        cursor: pointer;
        height: 563px;
        display: flex;
        align-items: center;
        font-size: 2rem;
        color: whitesmoke;
        transition: all 0.5s ease;
        &:hover {
          color: grey;
          transition: all 0.5s ease;
        }
      }
      i.fas.fa-arrow-left {
        transform: translateX(2rem);
      }
      i.fas.fa-arrow-right {
        transform: translateX(-2rem);
      }
    }
    .small-images {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      img {
        margin: 10px 5px;
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover {
          transition: all 0.3s ease;
          transform: scale(1.075);
        }
      }
      img.standing {
        height: 120px;
        width: 90px;
      }
      img.lying {
        width: 120px;
        height: 90px;
      }
      .active {
        border: 3px green solid;
        border-radius: 3px;
      }
    }
  }

  .about-product {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .title {
      text-align: start;
      text-transform: uppercase;
    }
    .product-description {
      width: 80%;
      text-align: center;
      font-size: 22px;
    }
    .color-sizes {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      .colors-section {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        h3 {
          text-align: center;
          font-size: 2rem;
        }
        .colors {
          display: flex;
          justify-content: center;
          align-items: center;
          .color {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: 10px;
            .color-show {
              width: 50px;
              height: 50px;
              border-radius: 10rem;
              margin: 10px;
              background-color: $lavanda;
            }
          }
        }
      }
      .sizes {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        h3 {
          font-size: 2rem;
        }
      }
    }
    .price-sect {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-size: 2rem;
      margin: 30px 0;
    }
    .checks {
      margin-left: 20%;
      .check {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 10px;
        .check-mark {
          width: 26px;
          height: 26px;
          margin: 10px;
        }
        p {
          font-size: 22px;
        }
      }
    }
    .shop {
      display: flex;
      justify-content: flex-start;
      height: 10vh;
      padding: 10px;
      section {
        margin: 0 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h3 {
          font-size: 22px;
        }
        a {
          color: black;
          transition: all 0.3s ease;
          font-size: 20px;
          &:hover {
            transition: all 0.3s ease;
            color: #3d07d1;
          }
        }
      }
    }
  }
}

/* Responsive */

@media screen and (max-width: 1400px) {
  body {
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    padding: 20px 50px;
    .image-gallery {
      height: fit-content;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .title {
        display: block;
        text-transform: uppercase;
        text-align: center;
        margin: 20px 0;
        font-size: 3rem;
      }
      .large-image {
        img {
          max-width: 900px;
          max-height: 675px;
        }
      }
      .small-images {
        flex-wrap: wrap;
      }
    }
    .about-product {
      height: fit-content;
      .title {
        display: none;
      }
      .product-description {
        width: 100%;
        text-align: center;
        margin: 20px 0;
        p {
          font-size: 28px;
        }
      }
      .color-sizes {
        min-height: 10vh;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        margin: 20px 0;
        .colors-section {
          h3 {
            width: 100%;
            text-align: center;
          }
        }
        .sizes {
          li {
            font-size: 24px;
          }
        }
      }
      .colors-section {
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        h3 {
          margin: 0;
        }
        .colors {
          margin: 0;
          padding: 0;
        }
      }
      .price-sect {
        display: flex;
        justify-content: center;
        align-items: center;
        strong {
          font-size: 3rem;
        }
      }
      .checks {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        padding-left: 20%;
        margin: 0;
      }
      .shop {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        margin: 20px 0;
        section {
          min-height: 5vh;
          h3 {
            font-size: 2rem;
          }
        }
        .second {
          a,
          i {
            font-size: 28px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  body {
    min-height: 100vh;
    .image-gallery {
      .large-image {
        img {
          max-height: 600px;
          max-width: 800px;
        }
      }
    }
    .about-product {
      height: fit-content;
      .title {
        display: none;
      }
      .product-description {
        margin: 20px 0;
        text-align: center;
        font-size: 24px;
        width: 100%;
      }
      .colors-section {
        h3 {
          font-size: 3rem;
        }
        .colors {
          .color {
            p {
              font-size: 22px;
            }
            .color-show {
              width: 80px;
              height: 80px;
            }
          }
        }
      }
      .price-sect {
        p {
          text-align: center;
          width: 100%;
        }
      }
      .checks {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
      }
      .shop {
        a,
        i {
          font-size: 1.5rem;
        }
      }
    }
  }
}

@media screen and (max-width: 850px) {
  body {
    .image-gallery {
      .title {
        font-size: 2.5rem;
      }
      .large-image {
        img {
          max-width: 750px;
          max-height: 600px;
        }
      }
    }
    .about-product {
      .checks {
        .check {
          i,
          p {
            font-size: 1.25rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  body {
    padding: 10px 40px;
    .image-gallery {
      .title {
        font-size: 2.5rem;
      }
      .large-image {
        height: 450px;
        img {
          max-width: 650px;
          max-height: 450px;
        }
        i {
          height: 450px;
        }
      }
    }
    .about-product {
      .product-description {
        p {
          font-size: 26px;
        }
      }
      .shop {
        .first {
          h3 {
            font-size: 1.75rem;
          }
        }
        .second {
          a,
          i {
            font-size: 24px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 615px) {
  body {
    .image-gallery {
      .large-image {
        height: 337.5px;
        img {
          max-width: 500px;
          max-height: 337.5px;
        }
        i {
          height: 337px;
        }
      }
      .small-images {
        img.standing {
          max-height: 90px;
          max-width: 67.5px;
        }
        img.lying {
          max-height: 67px;
          max-width: 90px;
        }
      }
    }
    .about-product {
      .color-sizes {
        .colors-section,
        .sizes {
          h3 {
            font-size: 1.5rem;
          }
          li {
            font-size: 16px;
            list-style-type: none;
          }
        }
      }
      .price-sect {
        strong {
          font-size: 2.5rem;
        }
      }
      .shop {
        i,
        a {
          font-size: 18px;
        }
      }
    }
  }
}

@media screen and (max-width: 540px) {
  body {
    .image-gallery {
      .title {
        font-size: 2rem;
      }
    }
    .about-product {
      .shop {
        flex-direction: column;
      }
    }
  }
}

@media screen and (max-width: 515px) {
  body {
    .image-gallery {
      .title {
        font-size: 1.5rem;
      }
      .large-image {
        height: 337px;
        img {
          max-height: 337px;
          max-width: 400px;
        }
        i {
          height: 337px;
        }
      }
      .small-images {
        img.standing {
          height: 75px;
          width: 56px;
        }
        img.lying {
          width: 75px;
          height: 56px;
        }
      }
    }
    .about-product {
      .price-sect {
        p {
          font-size: 18px;
          strong {
            font-size: 30px;
          }
        }
      }
      .shop {
        section {
          h3 {
            font-size: 18px;
          }
        }
        .second {
          a {
            font-size: 16px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  body {
    .image-gallery {
      .title {
        font-size: 2rem;
      }
    }
    .about-product {
      .color-sizes {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .colors-section,
        .sizes {
          margin: 10px 0;
        }
        .colors-section {
          h3 {
            font-size: 1.75rem;
          }
          .colors {
            .color {
              .color-show {
                width: 75px;
                height: 75px;
              }
            }
          }
        }
        .sizes {
          h3 {
            font-size: 1.75rem;
            text-align: center;
          }
          li {
            margin: 3px 0;
            font-size: 18px;
            strong {
              font-size: 20px;
            }
          }
        }
      }
      .price-sect {
        p {
          strong {
            font-size: 2.5rem;
          }
        }
      }
      .checks {
        padding: 0;
      }
      .shop {
        .second {
          i,
          a {
            font-size: 20px;
            margin: 5px 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 410px) {
  body {
    .image-gallery {
      .large-image {
        height: 300px;
        img {
          max-height: 300px;
          max-width: 350px;
        }
        i {
          height: 300px;
          font-size: 20px;
        }
        i.fas.fa-arrow-left {
          transform: translateX(150%);
        }
        i.fas.fa-arrow-right {
          transform: translateX(-150%);
        }
      }
    }
    .about-product {
      .product-description {
        p {
          font-size: 20px;
        }
      }
      .color-sizes {
        flex-direction: column;
        align-items: center;
        .colors-section {
          h3 {
            text-align: center;
            width: 100%;
          }
        }
      }
      .shop {
        .second {
          i,
          a {
            font-size: 18px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 355px) {
  body {
    padding: 10px 15px;
    .image-gallery {
      .title {
        font-size: 1.75rem;
      }
      .large-image {
        height: 214px;
        img {
          max-width: 285px;
          max-height: 214px;
        }
        i {
          height: 214px;
        }
      }
      .small-images {
        img.standing {
          width: 40px;
          height: 56px;
        }
        img.lying {
          width: 56px;
          height: 40px;
        }
      }
    }
    .about-product {
      .price-sect {
        p {
          font-size: 14px;
          strong {
            font-size: 2.5rem;
          }
        }
      }
      .color-sizes {
        .colors-section {
          h3 {
            font-size: 2rem;
          }
          .colors {
            .color {
              p {
                font-size: 22px;
              }
            }
          }
        }
        .sizes {
          h3 {
            font-size: 2rem;
          }
          li {
            font-size: 18px;
            strong {
              font-size: 20px;
            }
          }
        }
      }
      .checks {
        .check {
          p {
            font-size: 18px;
          }
          .check-mark {
            width: 16px;
            height: 16px;
          }
        }
      }
      .shop {
        .first {
          h3 {
            font-size: 26px;
          }
        }
        .second {
          a {
            font-size: 16px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 300px) {
  body {
    .image-gallery {
      .title {
        font-size: 1.5rem;
      }
      .large-image {
        height: 187px;
        img {
          max-width: 250px;
          max-height: 187px;
        }
        i {
          height: 187px;
          font-size: 16px;
        }
      }
      .small-images {
        img.standing {
          width: 30px;
          height: 40px;
        }
        img.lying {
          width: 40px;
          height: 30px;
        }
      }
    }
    .about-product {
      .product-description {
        p {
          font-size: 18px;
        }
      }
      .color-sizes {
        .colors-section {
          h3 {
            font-size: 1.75rem;
          }
          .colors {
            .color {
              p {
                font-size: 20px;
              }
              .color-show {
                width: 65px;
                height: 65px;
              }
            }
          }
        }
        .sizes {
          h3 {
            font-size: 1.75rem;
          }
        }
      }
      .shop {
        .first {
          h3 {
            font-size: 1.25rem;
          }
        }
        .second {
          i {
            display: none;
          }
        }
      }
    }
  }
}
