* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 1fr;
  height: 100vh;
  .image-gallery {
    display: grid;
    grid-template-rows: 80% 20%;
    grid-template-columns: 100%;
    .large-image {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      img {
        max-height: 600px;
        max-width: 750px;
      }
      i {
        cursor: pointer;
        height: 600px;
        display: flex;
        align-items: center;
        font-size: 2rem;
        color: whitesmoke;
        transition: all 0.5s ease;
        &:hover {
          color: grey;
          transition: all 0.5s ease;
        }
      }
      i.fas.fa-arrow-left {
        transform: translateX(2rem);
      }
      i.fas.fa-arrow-right {
        transform: translateX(-2rem);
      }
    }
    .small-images {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        margin: 10px 5px;
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover {
          transition: all 0.3s ease;
          transform: scale(1.075);
        }
      }
      img.standing {
        height: 120px;
        width: 90px;
      }
      img.lying {
        width: 120px;
        height: 90px;
      }
      .active {
        border: 3px green solid;
        border-radius: 3px;
      }
    }
  }

  .about-product {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .title {
      text-align: start;
      text-transform: uppercase;
    }
    .product-description {
      width: 80%;
      text-align: center;
      font-size: 24px;
    }
    .colors-section {
      display: flex;
      flex-direction: column;
      h3 {
        text-align: center;
        font-size: 2rem;
      }
      .colors {
        display: flex;
        justify-content: center;
        align-items: center;
        .color {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          margin: 10px;
          .color-show {
            width: 50px;
            height: 50px;
            border-radius: 10rem;
            margin: 10px;
          }
          #bela {
            background: rgb(245, 239, 239);
          }
          #bez {
            background: rgb(214, 203, 188);
          }
          #crna {
            background: black;
          }
        }
      }
    }
    .price-sect {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-size: 2rem;
    }
    .checks {
      .check {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 10px;
        padding-left: 20%;
        i {
          margin: 10px;
          font-size: 1.5rem;
          color: green;
        }
        p {
          font-size: 18px;
        }
      }
    }
    .shop {
      display: flex;
      justify-content: flex-start;
      height: 10vh;
      padding: 10px;
      section {
        margin: 0 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h3 {
          font-size: 22px;
        }
        a {
          color: black;
          transition: all 0.3s ease;
          font-size: 20px;
          &:hover {
            transition: all 0.3s ease;
            color: #3d07d1;
          }
        }
      }
    }
  }
}
