* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 55% 45%;
      grid-template-columns: 55% 45%;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  min-height: 100vh;
}

body .image-gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 80% 20%;
      grid-template-rows: 80% 20%;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
}

body .image-gallery .title {
  display: none;
}

body .image-gallery .large-image {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

body .image-gallery .large-image img {
  max-width: 600px;
  max-height: 600px;
}

body .image-gallery .large-image i {
  cursor: pointer;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  color: whitesmoke;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

body .image-gallery .large-image i:hover {
  color: grey;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

body .image-gallery .large-image i.fas.fa-arrow-left {
  -webkit-transform: translateX(2rem);
          transform: translateX(2rem);
}

body .image-gallery .large-image i.fas.fa-arrow-right {
  -webkit-transform: translateX(-2rem);
          transform: translateX(-2rem);
}

body .image-gallery .small-images {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

body .image-gallery .small-images img {
  margin: 10px 5px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

body .image-gallery .small-images img:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: scale(1.075);
          transform: scale(1.075);
}

body .image-gallery .small-images img.standing {
  height: 120px;
  width: 90px;
}

body .image-gallery .small-images img.lying {
  width: 120px;
  height: 90px;
}

body .image-gallery .small-images .active {
  border: 3px green solid;
  border-radius: 3px;
}

body .about-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body .about-product .title {
  text-align: start;
  text-transform: uppercase;
}

body .about-product .product-description {
  width: 80%;
  font-size: 22px;
}

body .about-product .price-sect {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
}

body .about-product .price-sect strong {
  font-size: 2rem;
}

body .about-product .checks .check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
}

body .about-product .checks .check i {
  margin: 10px;
  font-size: 1.5rem;
  color: green;
}

body .about-product .checks .check p {
  font-size: 22px;
}

body .about-product .shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 10vh;
  padding: 10px;
}

body .about-product .shop section {
  margin: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .about-product .shop section h3 {
  font-size: 22px;
}

body .about-product .shop section a {
  color: black;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 20px;
}

body .about-product .shop section a:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #3d07d1;
}

/* Responsive */
@media screen and (max-width: 1400px) {
  body {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
  }
  body .image-gallery {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .image-gallery .title {
    display: block;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
  }
  body .about-product {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  body .about-product .title {
    display: none;
  }
  body .about-product .product-description {
    width: 100%;
    text-align: center;
    font-size: 24px;
  }
  body .about-product .checks {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .about-product .shop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
  }
  body .about-product .shop section {
    min-height: 8vh;
  }
}

@media screen and (max-width: 1024px) {
  body {
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    padding: 2rem 5rem;
  }
  body .image-gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .image-gallery .title {
    text-align: center;
    display: block;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  body .image-gallery .small-images {
    margin-bottom: 30px;
  }
  body .about-product .title {
    display: none;
  }
  body .about-product .product-description {
    text-align: center;
    width: 100%;
  }
  body .about-product .price-sect {
    margin: 10px 0;
    text-align: center;
  }
  body .about-product .price-sect p {
    width: 100%;
  }
  body .about-product .shop {
    height: auto;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  body .large-image img {
    max-width: 80%;
  }
  body .small-images img {
    max-width: 75px;
    max-height: 100px;
  }
}

@media screen and (max-width: 540px) {
  body .image-gallery .title {
    font-size: 1.75rem;
  }
  body .image-gallery .large-image {
    height: 510px;
    max-width: 100%;
  }
  body .image-gallery .large-image img {
    width: 100%;
  }
  body .image-gallery .large-image i {
    height: 510px;
  }
  body .image-gallery .small-images img {
    max-width: 60px;
    max-height: 80px;
  }
  body .about-product .shop a {
    font-size: 16px;
  }
  body .about-product .shop i {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  body {
    padding: 4rem 3rem;
  }
  body .image-gallery .large-image {
    height: 533px;
  }
  body .image-gallery .large-image img {
    width: 400px;
    height: 533px;
  }
  body .image-gallery .large-image i {
    height: 533px;
  }
}

@media screen and (max-width: 430px) {
  body {
    padding: 30px 15px;
  }
  body .image-gallery .large-image {
    height: 466px;
  }
  body .image-gallery .large-image img {
    width: 350px;
    height: 466px;
  }
  body .image-gallery .large-image i {
    height: 466px;
  }
  body .about-product .product-description p {
    font-size: 18px;
  }
  body .about-product .price-sect p {
    font-size: 16px;
  }
  body .about-product .price-sect p strong {
    font-size: 22px;
  }
  body .about-product .checks .check i,
  body .about-product .checks .check p {
    font-size: 16px;
  }
}

@media screen and (max-width: 355px) {
  body .image-gallery .title {
    font-size: 1.35rem;
  }
  body .image-gallery .large-image {
    height: 400px;
  }
  body .image-gallery .large-image img {
    width: 300px;
    height: 400px;
  }
  body .image-gallery .large-image i {
    height: 400px;
    font-size: 1.5rem;
  }
  body .image-gallery .small-images img {
    max-width: 40px;
    max-height: 53px;
  }
  body .about-product .shop h3 {
    font-size: 16px;
  }
  body .about-product .shop a {
    font-size: 14px;
  }
}

@media screen and (max-width: 305px) {
  body .image-gallery .large-image {
    height: 333px;
    width: 100%;
  }
  body .image-gallery .large-image img {
    width: 250px;
    height: 333px;
  }
  body .image-gallery .large-image i {
    height: 333px;
  }
  body .about-product .product-description p {
    font-size: 16px;
  }
  body .about-product .price-sect p strong {
    font-size: 1.15rem;
  }
}
/*# sourceMappingURL=style.css.map */