* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  display: grid;
  grid-template-columns: 55% 45%;
  grid-template-rows: 1fr;
  min-height: 100vh;
  .image-gallery {
    display: grid;
    grid-template-rows: 80% 20%;
    grid-template-columns: 100%;
    .title {
      display: none;
    }
    .large-image {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      img {
        max-width: 600px;
        max-height: 600px;
      }
      i {
        cursor: pointer;
        height: 600px;
        display: flex;
        align-items: center;
        font-size: 2rem;
        color: whitesmoke;
        transition: all 0.5s ease;
        &:hover {
          color: grey;
          transition: all 0.5s ease;
        }
      }
      i.fas.fa-arrow-left {
        transform: translateX(2rem);
      }
      i.fas.fa-arrow-right {
        transform: translateX(-2rem);
      }
    }
    .small-images {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      img {
        margin: 10px 5px;
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover {
          transition: all 0.3s ease;
          transform: scale(1.075);
        }
      }
      img.standing {
        height: 120px;
        width: 90px;
      }
      img.lying {
        width: 120px;
        height: 90px;
      }
      .active {
        border: 3px green solid;
        border-radius: 3px;
      }
    }
  }

  .about-product {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .title {
      text-align: start;
      text-transform: uppercase;
    }
    .product-description {
      width: 80%;
      font-size: 22px;
    }
    .price-sect {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column;
      font-size: 1.5rem;
      p {
        margin: 5px 0;
      }
      .primary {
        font-size: 2rem;
      }
      .secondary {
        font-size: 1.75rem;
      }
    }
    .checks {
      .check {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 10px;
        .check-mark {
          margin: 10px;
          width: 16px;
          height: 16px;
        }
        p {
          font-size: 22px;
        }
      }
    }
    .shop {
      display: flex;
      justify-content: flex-start;
      height: 10vh;
      padding: 10px;
      section {
        margin: 0 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h3 {
          font-size: 22px;
        }
        a {
          color: black;
          transition: all 0.3s ease;
          font-size: 20px;
          &:hover {
            transition: all 0.3s ease;
            color: #3d07d1;
          }
        }
      }
    }
  }
}

/* Responsive */

@media screen and (max-width: 1400px) {
  body {
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    .image-gallery {
      height: fit-content;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .title {
        display: block;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 20px;
      }
    }
    .about-product {
      height: fit-content;
      .title {
        display: none;
      }
      .product-description {
        width: 100%;
        text-align: center;
        p {
          font-size: 28px;
        }
      }
      .price-sect {
        margin: 30px 0;
        .primary {
          font-size: 3rem;
        }
        .secondary {
          font-size: 2.5rem;
        }
      }
      .checks {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .check {
          .check-mark {
            width: 26px;
            height: 26px;
          }
          p {
            font-size: 1.5rem;
          }
        }
      }
      .shop {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        section {
          min-height: 4vh;
        }
        .first {
          h3 {
            font-size: 2rem;
          }
        }
        .second {
          a {
            font-size: 1.75rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  body {
    grid-template-rows: auto auto;
    grid-template-columns: 100%;
    padding: 2rem 5rem;
    .image-gallery {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .title {
        text-align: center;
        display: block;
        text-transform: uppercase;
        margin-bottom: 30px;
      }
      .small-images {
        margin-bottom: 30px;
      }
    }
    .about-product {
      .title {
        display: none;
      }
      .product-description {
        text-align: center;
        width: 100%;
      }
      .price-sect {
        text-align: center;
        p {
          width: 100%;
        }
      }
      .shop {
        height: auto;
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  body {
    .image-gallery {
      .large-image {
        height: 450px;
        img {
          max-width: 650px;
          max-height: 450px;
        }
        i {
          height: 450px;
        }
      }
    }
    .about-product {
      .shop {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
    }
  }
}

@media screen and (max-width: 615px) {
  body {
    .image-gallery {
      .large-image {
        height: 450px;
        img {
          max-width: 500px;
          max-height: 450px;
        }
        i {
          height: 450px;
        }
      }
      .small-images {
        img.standing {
          max-height: 90px;
          max-width: 67.5px;
        }
        img.lying {
          max-height: 67px;
          max-width: 90px;
        }
      }
    }
  }
}

@media screen and (max-width: 540px) {
  body {
    padding: 30px 20px;
    .about-product {
      .product-description {
        p {
          font-size: 24px;
        }
      }
      .title {
        font-size: 2rem;
      }
      .price-sect {
        .primary {
          font-size: 2.75rem;
        }
        .secondary {
          font-size: 2.25rem;
        }
      }
      .shop {
        a {
          font-size: 16px;
        }
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .first {
          margin: 10px 0;
          min-height: fit-content;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  body {
    padding: 4rem 3rem;
    .image-gallery {
      .large-image {
        height: 533px;
        img {
          width: 400px;
          height: 533px;
        }
        i {
          height: 533px;
        }
      }
    }
  }
}

@media screen and (max-width: 430px) {
  body {
    padding: 30px 15px;
    .image-gallery {
      .large-image {
        height: 466px;
        align-items: center;
        img {
          width: 350px;
          height: 466px;
        }
        i {
          height: 466px;
        }
      }
      .small-images {
        img.standing {
          max-width: 50px;
          max-height: 67px;
        }
      }
    }
    .about-product {
      .product-description {
        p {
          font-size: 22px;
        }
      }
      .price-sect {
        p {
          font-size: 20px;
        }
        .primary {
          font-size: 2.25rem;
        }
        .secondary {
          font-size: 2rem;
        }
      }
      .checks {
        justify-content: flex-start;
        .check {
          padding: 0;
          margin: 10px 0;
          i,
          p {
            font-size: 18px;
          }
        }
      }
      .shop {
        .first {
          h3 {
            font-size: 1.75rem;
          }
        }
        .second {
          i,
          a {
            font-size: 18px;
          }
          div {
            margin: 3px 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 355px) {
  body {
    .image-gallery {
      .title {
        font-size: 1.35rem;
      }
      .large-image {
        height: 400px;
        img {
          width: 300px;
          height: 400px;
        }
        i {
          height: 400px;
          font-size: 1.5rem;
        }
      }
      .small-images {
        img {
          max-width: 40px;
          max-height: 53px;
        }
      }
    }
    .about-product {
      .checks {
        .check {
          .check-mark {
            width: 18px;
            height: 18px;
          }
          p {
            font-size: 16px;
          }
        }
      }
      .shop {
        .first {
          h3 {
            font-size: 1.5rem;
          }
        }
        .second {
          i,
          a {
            font-size: 15px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 305px) {
  body {
    .image-gallery {
      .large-image {
        height: 333px;
        width: 100%;
        img {
          width: 250px;
          height: 333px;
        }
        i {
          height: 333px;
        }
      }
      .small-images {
        img.standing {
          width: 30px;
          height: 40px;
        }
      }
    }
    .about-product {
      .product-description {
        p {
          font-size: 16px;
        }
      }
      .price-sect {
        padding-left: 20px;
        text-align: start;
        .primary {
          font-size: 1.75rem;
        }
        .secondary {
          font-size: 1.4rem;
        }
        p {
          font-size: 18px;
        }
      }
    }
  }
}
