#products {
  background: rgb(240, 235, 231);
  padding: 50px 15px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
  .product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    img{
      border: 1px black solid;
      border-radius: 3px;
    }
    .standing-img{
      width: 300px;
      height: 400px;
    }
    .lying-img{
      width: 400px;
      height: 300px;
    }
    a{
      font-family: 'Amatic SC', cursive;
      text-decoration: none;
      color: whitesmoke;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
    a.top{
      display: none;
    }
    a.bottom{
      position: absolute;
      text-align: center;
      font-size: 1.75rem;
      text-transform: uppercase;
      transition: opacity 0.5s;
      background-color: rgba($color: #000000, $alpha: 0.5);
      font-size: 2rem;
      &:hover{
        opacity: 1;
        transition: opacity 0.5s;
      }
    }
  }
  .product.standing{
    a.bottom{
      width: 300px;
      height: 400px;
      background-color: rgba($color: #000000, $alpha: 0.5);
    }
  }
  .product.lying{
    a.bottom{
      width: 400px;
      height: 300px;
    }
  }
}

@media screen and (max-width: 1200px){
  #products{
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 1024px){
  #products{
    .product{
      .standing-img{
        width: 400px;
        height: 533px;
      }
      .lying-img{
        width: 533px;
        height: 400px;
      }
      a.top{
        display: flex;
        opacity: 1;
        color: black;
        text-align: center;
        font-size: 3rem;
        text-transform: uppercase;
        letter-spacing: 2px;
      }
      a.bottom{
        transform: translateY(3%);
        &:hover{
          opacity: 0;
          background: none;
        }
      }
    }
    .product.lying{
      a.bottom{
        width: 533px;
        height: 400px;
      }
    }
    .product.standing{
      a.bottom{
        width: 400px;
        height: 533px;
      }
    }
  }
}

@media screen and (max-width: 768px){
  #products{
    .product{
      .standing-img{
        width: 350px;
        height: 467px;
      }
      .lying-img{
        width: 467px;
        height: 350px;
      }
      a.top{
        font-size: 2.5rem;
      }
    }
    .product.lying{
      a.bottom{
        width: 467px;
        height: 350px;
      }
    }
    .product.standing{
      a.bottom{
        width: 350px;
        height: 467px;
      }
    }
  }
}

@media screen and (max-width: 540px){
  #products{
    .product{
      .standing-img{
        width: 300px;
        height: 400px;
      }
      .lying-img{
        width: 400px;
        height: 300px;
      }
      a.top{
        font-size: 2rem;
      }
    }
    .product.lying{
      a.bottom{
        width: 400px;
        height: 300px;
      }
    }
    .product.standing{
      a.bottom{
        width: 300px;
        height: 400px;
      }
    }
  }
}

@media screen and (max-width: 430px){
  #products{
    .product{
      .lying-img{
        width: 375px;
        height: 281px;
      }
    }
    .product.lying{
      a.bottom{
        width: 375px;
        height: 281px;
      }
    }
  }
}

@media screen and (max-width: 400px){
  #products{
    .product{
      .lying-img{
        width: 325px;
        height: 244px;
      }
      .standing-img{
        width: 275px;
        height: 367px;
      }
    }
    .product.lying{
      a.bottom{
        width: 325px;
        height: 244px;
      }
    }
    .product.standing{
      a.bottom{
        width: 275px;
        height: 367px;
      }
    }
  }
}

@media screen and (max-width: 330px){
  #products{
    .product{
      .lying-img{
        width: 275px;
        height: 206px;
      }
      .standing-img{
        width: 250px;
        height: 333px;
      }
      a.top{
        font-size: 1.75rem;
      }
    }
    .product.lying{
      a.bottom{
        width: 275px;
        height: 206px;
      }
    }
    .product.standing{
      a.bottom{
        width: 250px;
        height: 333px;
      }
    }
  }
}

@media screen and (max-width: 300px){
  #products{
    .product{
      .lying-img{
        width: 250px;
        height: 188px;
      }
    }
    .product.lying{
      a.bottom{
        width: 250px;
        height: 188px;
      }
    }
  }
}