#products {
  background: rgb(218, 191, 172);
  padding: 10vh 5em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
  justify-content: center;
  align-items: center;
  .product {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      border: 2px black solid;
      border-radius: 3px;
    }
    a {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.5);
      color: whitesmoke;
      text-decoration: none;
      letter-spacing: 3px;
      text-transform: uppercase;
      font-size: 40px;
      text-align: center;
      padding: 20px;
      opacity: 0;
      transition: all 0.5s ease;
      font-family: "Amatic SC", cursive;
      &:hover {
        opacity: 1;
        transition: all 0.5s ease;
      }
    }
  }
  .standing {
    * {
      width: 350px;
      height: 438px;
    }
  }

  .lying {
    * {
      width: 450px;
      height: 338px;
    }
  }
}

@media screen and (max-width: 1280px) {
  #products {
    .standing {
      * {
        width: 300px;
        height: 400px;
      }
    }

    .lying {
      * {
        width: 400px;
        height: 300px;
      }
    }
  }
}

@media screen and (max-width: 1115px) {
  #products {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    .standing {
      * {
        width: 400px;
        height: 533px;
      }
    }

    .lying {
      * {
        width: 533px;
        height: 400px;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  #products {
    .standing {
      * {
        width: 350px;
        height: 467px;
      }
    }

    .lying {
      * {
        width: 467px;
        height: 350px;
      }
    }
  }
}

@media screen and (max-width: 867px) {
  #products {
    .standing {
      * {
        width: 300px;
        height: 400px;
      }
    }

    .lying {
      * {
        width: 400px;
        height: 300px;
      }
    }
    .product {
      font-size: 34px;
    }
  }
}

@media screen and (max-width: 768px) {
  #products {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    .standing {
      * {
        width: 350px;
        height: 438px;
      }
    }

    .lying {
      * {
        width: 450px;
        height: 338px;
      }
    }
  }
}

@media screen and (max-width: 508px) {
  #products {
    .standing {
      * {
        width: 300px;
        height: 400px;
      }
    }

    .lying {
      * {
        width: 400px;
        height: 300px;
      }
    }
    .product {
      a {
        font-size: 30px;
      }
    }
  }
}

@media screen and (max-width: 431px) {
  #products {
    .lying {
      * {
        width: 350px;
        height: 263px;
      }
    }
  }
}

@media screen and (max-width: 350px) {
  #products {
    .standing {
      * {
        width: 280px;
        height: 373px;
      }
    }

    .lying {
      * {
        width: 280px;
        height: 210px;
      }
    }
  }
}

@media screen and (max-width: 300px) {
  #products {
    .standing {
      * {
        width: 250px;
        height: 333px;
      }
    }

    .lying {
      * {
        width: 250px;
        height: 188px;
      }
    }
    .product {
      a {
        font-size: 28px;
      }
    }
  }
}

@media screen and (max-width: 285px) {
  #products {
    .standing {
      * {
        width: 240px;
        height: 320px;
      }
    }

    .lying {
      * {
        width: 240px;
        height: 180px;
      }
    }
  }
}
