* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.instagram i {
  color: #fd941d;
}

.facebook i {
  color: #3b5998;
}

.mail i {
  color: #4fd3d3;
}

/* Spinners */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loader.hide {
  display: none;
  pointer-events: none;
}

.discount {
  position: fixed;
  z-index: 5;
  bottom: 0;
  left: 0;
  min-height: 5vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.discount p {
  color: whitesmoke;
  font-size: 22px;
}

.discount i {
  color: white;
  cursor: pointer;
  font-size: 1.75rem;
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px;
  z-index: 6;
}

/* Import */
#home {
  min-height: 85vh;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 50% 25%;
      grid-template-columns: 25% 50% 25%;
  -ms-grid-rows: 75% 25%;
      grid-template-rows: 75% 25%;
  background-color: black;
  color: whitesmoke;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#home .home-box-2 {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#home .home-box-2 img {
  width: 400px;
}

#home .home-box-2 h1 {
  font-size: 4rem;
  letter-spacing: 7px;
}

#home .home-box-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

#home .home-box-3 div {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home .home-box-3 div i {
  margin: 0 5px;
}

#home .home-box-3 div a {
  color: whitesmoke;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#home .home-box-3 div:hover a {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #a8a8a8;
}

#home .home-box-4 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#home .home-box-4 h3 {
  font-size: 2rem;
  color: #b6b6b6;
}

#home .home-box-4 .buttons button {
  margin: 0 10px;
}

@media screen and (max-width: 1024px) {
  #home .home-box-2 #logo {
    width: 550px;
  }
  #home .home-box-2 h1 {
    font-size: 5rem;
  }
  #home .home-box-3 {
    display: none;
  }
}

@media screen and (max-width: 885px) {
  #home .home-box-3 div i,
  #home .home-box-3 div a {
    font-size: 14px;
  }
}

@media screen and (max-width: 785px) {
  #home .home-box-2 #logo {
    width: 350px;
  }
  #home .home-box-3 {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  #home .home-box-2 img {
    width: 300px;
  }
}

@media screen and (max-width: 550px) {
  #home {
    -ms-grid-rows: 65% 35%;
        grid-template-rows: 65% 35%;
  }
  #home .home-box-2 img {
    width: 250px;
  }
  #home .home-box-2 h1 {
    font-size: 3rem;
    letter-spacing: 5px;
  }
  #home .home-box-4 h3 {
    font-size: 1.75rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 375px) {
  #home .home-box-2 img {
    width: 150%;
  }
}

@media screen and (max-width: 300px) {
  #home .home-box-2 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #home .home-box-4 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #home .home-box-4 h3 {
    font-size: 1.5rem;
  }
}

#products {
  background: #f0ebe7;
  padding: 50px 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
}

#products .product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#products .product img {
  border: 1px black solid;
  border-radius: 3px;
}

#products .product .standing-img {
  width: 300px;
  height: 400px;
}

#products .product .lying-img {
  width: 400px;
  height: 300px;
}

#products .product a {
  font-family: 'Amatic SC', cursive;
  text-decoration: none;
  color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#products .product a.top {
  display: none;
}

#products .product a.bottom {
  position: absolute;
  text-align: center;
  font-size: 1.75rem;
  text-transform: uppercase;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 2rem;
}

#products .product a.bottom:hover {
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

#products .product.standing a.bottom {
  width: 300px;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.5);
}

#products .product.lying a.bottom {
  width: 400px;
  height: 300px;
}

@media screen and (max-width: 1200px) {
  #products {
    -ms-grid-rows: (1fr)[6];
        grid-template-rows: repeat(6, 1fr);
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 1024px) {
  #products .product .standing-img {
    width: 400px;
    height: 533px;
  }
  #products .product .lying-img {
    width: 533px;
    height: 400px;
  }
  #products .product a.top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 1;
    color: black;
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  #products .product a.bottom {
    -webkit-transform: translateY(3%);
            transform: translateY(3%);
  }
  #products .product a.bottom:hover {
    opacity: 0;
    background: none;
  }
  #products .product.lying a.bottom {
    width: 533px;
    height: 400px;
  }
  #products .product.standing a.bottom {
    width: 400px;
    height: 533px;
  }
}

@media screen and (max-width: 768px) {
  #products .product .standing-img {
    width: 350px;
    height: 467px;
  }
  #products .product .lying-img {
    width: 467px;
    height: 350px;
  }
  #products .product a.top {
    font-size: 2.5rem;
  }
  #products .product.lying a.bottom {
    width: 467px;
    height: 350px;
  }
  #products .product.standing a.bottom {
    width: 350px;
    height: 467px;
  }
}

@media screen and (max-width: 540px) {
  #products .product .standing-img {
    width: 300px;
    height: 400px;
  }
  #products .product .lying-img {
    width: 400px;
    height: 300px;
  }
  #products .product a.top {
    font-size: 2rem;
  }
  #products .product.lying a.bottom {
    width: 400px;
    height: 300px;
  }
  #products .product.standing a.bottom {
    width: 300px;
    height: 400px;
  }
}

@media screen and (max-width: 430px) {
  #products .product .lying-img {
    width: 375px;
    height: 281px;
  }
  #products .product.lying a.bottom {
    width: 375px;
    height: 281px;
  }
}

@media screen and (max-width: 400px) {
  #products .product .lying-img {
    width: 325px;
    height: 244px;
  }
  #products .product .standing-img {
    width: 275px;
    height: 367px;
  }
  #products .product.lying a.bottom {
    width: 325px;
    height: 244px;
  }
  #products .product.standing a.bottom {
    width: 275px;
    height: 367px;
  }
}

@media screen and (max-width: 330px) {
  #products .product .lying-img {
    width: 275px;
    height: 206px;
  }
  #products .product .standing-img {
    width: 250px;
    height: 333px;
  }
  #products .product a.top {
    font-size: 1.75rem;
  }
  #products .product.lying a.bottom {
    width: 275px;
    height: 206px;
  }
  #products .product.standing a.bottom {
    width: 250px;
    height: 333px;
  }
}

@media screen and (max-width: 300px) {
  #products .product .lying-img {
    width: 250px;
    height: 188px;
  }
  #products .product.lying a.bottom {
    width: 250px;
    height: 188px;
  }
}
/*# sourceMappingURL=style.css.map */