*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

.instagram {
    i{
        color: #fd941d;
    }
}

.facebook{
    i{
        color: #3b5998 ;
    }
}
.mail {
    i{
        color: #4fd3d3;
    }
}

/* Import */
@import './home';
@import './products';